* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

/* PRODUCT */
.product {
    border: 4px solid #000;
    margin: 50px auto;
    width: 825px;
    position: relative;
}

.product-title,
.details-title {
    text-transform: uppercase;
    font-weight: bold;
}

.product-img {
    float: left;
    margin-right: 25px;
}

/* PRODUCT INFORMATION */

.product-text {
    width: 540px;
    float: left;
}

.product-information {
    width: 243px;
    float: left;
    margin-right: 40px;
    padding-top: 20px;
}
.product-details {
    width: 243px;
    float: left;
}

p {
    margin-bottom: 10px;
}

.product-title {
    background-color: #f7f7f7;
    text-align: center;
    font-size: 22px;
    padding: 15px;
}

.price {
    font-size: 24px;
    float: left;
}

.shipping {
    color: #777;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 8px;
    float: right;
}

.more-info:link,
.more-info:visited {
    display: block;
    margin-bottom: 30px;
    color: #000;
}

.more-info:hover,
.more-info:active {
    text-decoration: none;
}

/* PRODUCT DETAILS */

.details-title {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 16px;
}

.details-list {
    list-style-type: square;
    margin-left: 20px;
}

.details-list li {
    margin-bottom: 10px;
}

/* BUTTONS */
.add-cart-button {
    display: block;
    padding: 20px;
    width: 100%;
    border-top: 4px solid black;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.add-cart-button:hover {
    background-color: #fff;
    color: #000;
}

h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

.sale {
    display: inline-block;
    background-color: red;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 7px 15px;
    position: absolute;
    top: -16px;
    left: -40px;
}

.product-colors {
    height: 50px;
    width: auto;
}

.product-colors div {
    margin-right: 25px;
}

.product-colors div:last-child {
    margin-right: 0;
}
.color-box {
    display: inline-block;
    height: 25px;
    width: 25px;
}
.color-black {
    background-color: #000;
}

.color-green {
    background-color: #00ff00;
}

.color-red {
    background-color: #ff0000;
}

.color-blue {
    background-color: #000dff;
}
.color-yellow {
    background-color: #ffee00;
}

.clear {
    clear: both;
}

.clearfix {
    content: '';
    display: block;
    clear: both;
}
